<h1>Welcome to my website!</h1>
<p>Hair! HAIR! hair!</p>
<p>No matter what culture, creed, and/or continent you stem from, hair is always a staple within a community. Long, short, straight, curly, bald. We all have hairs idolization that are realistic and unrealistic. This site is a safe place for us to share tips, tricks, al well as, celebrate and embrace our beauty</p>

<p> Welcome to your hair community!</p>